body {
  font-family: Helvetica;
  text-align: center;
}

a {
  color: white;
}

#header {
  background-image: url("/resources/images/the-flatiron-building.png");
}

#header ul {
  list-style: none;
  font-size: 18px;
  padding: 0;
}

#header ul li {
  margin-bottom: 15px;
}

#header h1 {
  font-size: 70px;
}

#process h1 {
  font-size: 32px;
}

#process h3 {
  font-size: 23px;
}

#process p {
  font-size: 14px;
}

#process h2 {
  background-image: url("/resources/images/the-flatiron-building.png");
  font-size: 23px;
}

#footer {
  background-color: dimgray;
  text-align: left;
}

#footer h5 {
  font-size: 11px;
  display: inline;
}



.bold {
  font-weight: bold;
}

.white {
  color: white;
}